<div id="sidebar-nav" class="sidebar" [ngClass]="{'sideLeft': isActive, 'sideRight': !isActive}">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a routerLink=""><span><i class="fa fa-home"></i>
                            Dashboard</span> <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>

                <li><a routerLink=""><span><i class="fa fa-user"></i> Student</span> <i class="fa fa-angle-down"
                            aria-hidden="true"></i></a></li>

                <li><a routerLink=""><span><i class="fa fa-users"></i>Resource</span> <i class="fa fa-angle-down"
                            aria-hidden="true"></i></a></li>

                <li><a routerLink=""><span><i class="fa fa-shopping-cart"></i>Indent</span> <i class="fa fa-angle-down"
                            aria-hidden="true"></i></a></li>
                <li><a routerLink=""><span><i class="fa fa-file-text-o"></i> Invoice and Receipt</span> <i
                            class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                <li><a routerLink=""><span><i class="fa fa-inr"></i> Fee Structure</span> <i class="fa fa-angle-down"
                            aria-hidden="true"></i></a></li>
                <li><a routerLink=""><span><i class="fa fa-calendar-o"></i> Time Table</span> <i
                            class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                <li><a routerLink="" routerLinkActive="active"><span><i class="fa fa-bar-chart"></i> Reports</span> <i
                            class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                <li><a routerLink=""><span><i class="fa fa-download"></i> Downloads</span> <i class="fa fa-angle-down"
                            aria-hidden="true"></i></a></li>

            </ul>
        </nav>
    </div>
</div>