/* You can add global styles to this file, and also import other style files */
#example_length {
    display: none !important;
}
.dataTables_wrapper{
    width: 100%;
    overflow-y: scroll !important;
}